.container{
  font-family:Courier New;
  color:darkblue;
}
.content{
  color:initial;
}
.container h1{
  color:red; 
}
.nested {
  border:4px solid maroon;
}
.nested p {
  border:inherit;
}
.nested{
  color:red;
  background:yellow;
}

